SUBSYSTEM=="tty", GROUP="dialout", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="05ad", ATTRS{idProduct}=="0fba", SYMLINK+="ttyPanneau"

ACTION!="add", GOTO="modem_rules_end"
SUBSYSTEM!="tty" GOTO="modem_rules_end"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1506", GOTO="type1_rules_begin"
GOTO="type1_rules_end"
LABEL="type1_rules_begin"

ATTRS{port_number}=="0", SYMLINK:="ttyModem0"

LABEL="type1_rules_end"
LABEL="modem_rules_end"
